@{
    ViewBag.Title = "About Galadventure";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@
<br />  
<div>
    <h1>Galadventure S.A</h1>
    <p>
        <br />
        Todos nosotros de GALADVENTURE S.A. estamos orgullosos de poder compartir con ustedes las maravillas del Ecuador y Galápagos. Nuestro objetivo es proveerle un servicio eficiente y profesional durante su visita en las Islas Galápagos y el Ecuador.
        <br /><br />
        GALADVENTURE S.A es una empresa Ecuatoriana que viene brindado su servicio desde el año 2011, con el propósito de ofrecer visitas alternativas entre una isla y otra (Cabotaje) que permitan desarrollar el turismo ecológico en los diversos sitios de visita terrestres y marinos del Parque Nacional Galapagos. Nuestras oficinas principales se encuentran en Puerto Ayora, Isla Santa Cruz, Galapagos.
        <br /><br />
        Los dueños tenemos una larga trayectoria de experiencia en instituciones y empresas que se involucran en  el entretenimiento, aventura, la operación turística y la operación naviera de pasajeros entre las Islas de Galápagos, actuando únicamente como agente intermediario entre los pasajeros, lanchas, barcos y los hoteles o empresas que proporciona servicios que no se realiza con su propia transportación.  De esta manera trabajamos conjuntamente con otros operadores locales, generando así un promedio semanal de ingresos de 7000,00 USD, a las casi 60 familias que dependen directa e indirectamente con nuestra empresa.
        <br /><br />
        Nuestro equipo de trabajo, con personal profesional, guías especializados está esperando a sus pasajeros para brindarles un servicio personalizado, con precios competitivos y una grata experiencia que jamás olvidarán. Nuestro staff se caracteriza por su experiencia en turismo interno e internacional, capacidad de comunicación bilingüe y sobre todo un profundo amor por las Islas Galapagos.
    </p>
</div>