@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<div>
    <br /><br />
    <h3>GALADVENTURE S.A.</h3>
    <p>Tiene su oficina principal en Santa Cruz - Galapagos - Ecuador en América del Sur. Para hacer su reservación puede hacerlo por medio de su agencia de viajes, o través de nuestros socios internacionales o directamente con nosotros.</p>
    <hr>
    @*<address>*@
    <table style="WIDTH: 100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td>
                    <h4>DIRECTORIO</h4>
                </td>
                <td><br></td>
                <td valign="top"><br></td>
                <td><br></td>
            </tr>
            <tr>
                <td>
                    <h4>Direcciones SKYPE</h4>
                </td>
                <td>
                    <h4>Idiomas</h4>
                </td>
                <td valign="top"> <br></td>
                <td>
                    <h4>Agente</h4>
                </td>
            </tr>
            <tr>
                <td>Galadventure </td>
                <td>(es,en)</td>
                <td valign="top"><br></td>
                <td>Johanna<br></td>
            </tr>
            <tr>
                <td>Galapagos Friends</td>
                <td>(es, en, de)</td>
                <td valign="top"><br></td>
                <td>Julian</td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <h4>ECUADOR</h4>
                    <h4><b>GALAPAGOS - SANTA CRUZ</b></h4>
                    <b>Direccion</b>: A.v Baltra y Thomas de Berlanga, Puerto Ayora<br><b>Telf</b>: (+593) 52 524 119- 52 524 305 <br><b>Cel</b>: (+593) 0998192564 - 0999311241&nbsp; <br>
                </td>
            </tr>
        </tbody>
    </table>
    <br>Nuestras horas de oficina son 08:00 am a 20:30 pm de Lunes – Sábados. Hora local en nuestras oficinas son Hora Estándar del Este (GMT -6 hours).<br>
</div>
@*</address>*@

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">galadventure@galadventure.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">galapagosfriends@yahoo.com</a>
</address>*@