@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2> Agency Galadventure S.A</h2>
   <p style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;">
        Todos nosotros de GALADVENTURE S.A. estamos orgullosos de poder compartir con ustedes las maravillas del Ecuador y Galápagos. Nuestro objetivo es proveerle un servicio eficiente y profesional durante su visita en las Islas Galápagos y el Ecuador.
        GALADVENTURE S.A es una empresa ecuatoriana que viene brindado su servicio desde el año 2011, con el propósito de ofrecer visitas alternativas entre una isla y otra (cabotaje) que permitan desarrollar el turismo ecológico en los diversos sitios de visita terrestres y marinos del Parque Nacional Galapagos. 
       <br />
    </p>
    <p><a href="http://galadventure.com" class="btn btn-primary btn-lg">read more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Galapagos Friends</h2>
        <p>You can easily find the best trip or an offer, which mix adventures and relaxing activities.</p>

        <p><a class="btn btn-default" href="http://galapagosfriends.com">read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Galapagos Tour diarios</h2>
        <p>You can easily find the best trip or an offer, which mix adventures and relaxing activities.</p>
   <p><a class="btn btn-default" href="http://galapagosdailytrips.com">read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Galadventure</h2>
        <p>You can easily find the best trip or an offer, which mix adventures and relaxing activities.</p>
        <p><a class="btn btn-default" href="http://galadventure.com">read more &raquo;</a></p>
    </div>
</div>