@{
    ViewBag.Title = "Politicas de pagos y Cancelaciones";
}
<div>
    <h1>Términos y Condiciones</h1>
    Los términos, condiciones e información aquí descritos son aplicables a los servicios y programas vendidos por Agencia Galadventure S.A,  agencia mayorista y operadora del viajes de aventuras, a los que en adelante nos referiremos como Galadventure, y a los servicios ofrecidos y contratados por Galadventure S.A, Tour Operador para el Ecuador y sus Islas Galápagos.
    Galadventure S.A se refiere a la participación o responsabilidad conjunta de las dos empresas en esta alianza estratégica. Sus afiliados son los agentes de viajes u operadores que mantienen el respectivo convenio de ventas con Galadventure. El cliente está sujeto a los Términos y Condiciones que describimos a continuación, los cuales deberán ser leídos, entendidos y aceptados antes del pago de su reservación. Al confirmar su reservación o al realizar el primer depósito, el cliente automáticamente acepta estos términos y condiciones.
    <h3>Reservaciones</h3>
    Usted puede hacer su reservación llenando y enviando nuestro formulario electrónico de contacto; por vía telefónica llamando a los Tefs: 593-52-524 119 / 593-52-524 305  o escribiendo al e-mail galadventure@galadventure.com solicitando los espacios requeridos. Como la mayoría de nuestros viajes llenan su cupo con una anticipación de 3 a 6 meses, le recomendamos hacer sus reservaciones con suficiente antelación.
    Los espacios solicitados serán guardados durante un plazo de 12 días, si los solicita con más de 3 meses de antelación, o el que le señale nuestro asistente, si el tiempo de antelación al viaje es menor.
    <br /> Una vez que usted confirme su participación en el viaje, recibirá nuestra confirmación de reserva por vía electrónica , whatsapp y tendrá un plazo de 8 días, dentro del cual usted deberá realizar el depósito inicial para asegurar los espacios.
    <br /> <br /> En casos de ventas de último minuto, en que el tiempo de antelación al viaje es muy corto, el cliente se atendrá a los plazos de reservación y pagos que Galadventure S.A lo señale específicamente para su caso. Si las fechas solicitadas no están disponibles, Galadventure S.A le dará las sugerencias y alternativas pertinentes, tratando de satisfacer su requerimiento.
    <br /> <br />
    Si el pago requerido no se realiza dentro del plazo señalado, la reservación será automáticamente cancelada.
    Tras la recepción de su depósito le enviaremos por vía electrónica la confirmacion de la misma.  Los datos del cliente tienen que ser enviado de vuelta a nuestro correo electrónico y a la dirección de nuestra oficina, los cuales nos servirán para preparar y organizar su viaje de la manera más conveniente y segura.
    <br />Le enviaremos el saldo y calendario de pagos, un correo detallado conteniendo información sobre su viaje, listas de equipo y ropa que debe traer y demás información necesaria para preparar su viaje.
    <h3>
        Cobertura
    </h3>
    El pago de las cuotas de su reservación, apegado al Calendario de Pagos, garantiza la reservación de los espacios correspondientes en el hotel, barco, yate, lancha y la alimentación durante su viajes, visitas guiadas y los servicios adicionales adquiridos, como hoteles, transportación terrestre, alimentación, guías, tours, entradas a museos y los servicios especificados en la proforma aprobada por el cliente.
    <br />No incluidos en el pago están los vuelos internacionales, tasas aeroportuarias, cargos por exceso de equipaje, propinas, bebidas alcohólicas, servicios de lavandería, llamadas telefónicas, gastos personales, seguros de viaje ni cobertura por cancelación, interrupción, accidente, demoras y retrasos, pérdida o retraso de equipaje, gastos médicos, hospitalización, repatriación.
    <br />Tampoco están incluidos los vuelos locales, entradas al Parque Nacional Galápagos, recargos en el precio de combustible, nuevas tasas e impuestos y cualquier otro gasto sujeto a cambio sin previo aviso y fuera de nuestro control.
    <h3>
        Calendario de Pagos
    </h3>

    <ul>
        <li>
            Desde la reservación hasta 91 días antes de la salida:  30%
        </li>
        <li>
            Desde la reservación entre 90 y 61 días antes de la salida: 60%

        </li>
        <li>
            60 días antes de la salida: 100%
        </li>
        <li>
            Salidas de ultima Hora: 100%
        </li>
    </ul>
    La totalidad de la factura deberá ser acreditada en nuestra cuenta antes de la fecha de partida, con la anticipación citada anteriormente. Galadventure S.A se reserva el derecho de cancelación del tour y el cobro de la póliza de cancelación ante el incumplimiento, por parte del cliente, de los plazos señalados anteriormente. El precio de un tour puede variar en cualquier momento, sin previo aviso; el pago total anticipado garantiza el que no se haga recargos.
    <h3>
        Cancelaciones y Reembolsos
    </h3>
    Toda cancelación deberá ser notificada a Galadventure S.A por escrito o chat y enviada por vía electrónica, correo o fax por la misma persona o grupo contratante.
    <br />Los siguientes valores o porcentajes serán aplicados para cubrir los costos de cancelación, basados en la fecha en que Galadventure S.A reciba la notificación por escrito:
    <ul>
        <li>
            Desde la reservación hasta 90 días antes de la salida: 30%
        </li>
        <li>
            89 to 60 days prior to departure: 60%
        </li>
        <li>
            59 days prior to departure: 100%
        </li>
        <li>
            Ultima hora: 100%
        </li>
        <li>
            El depósito inicial del 30% es no reembolsable
        </li>
    </ul>
    De cualquier modo, si recibimos su notificación de cancelación por escrito, con al menos 120 días de anticipación, el costo de la transferencia de este depósito, mas un recargo de $100 por persona serán realizados por una sola vez.
    <br /><br />La nueva fecha o reservación deberá ajustarse a la disponibilidad de espacios, precios establecidos para la nueva fecha, a las condiciones de pagos y cancelaciones antes señaladas y no se dará lugar a posteriores transferencias.
    En caso de que Galadventure S.A pueda revender los espacios cancelados, se devolverá el dinero, aplicando un cargo del 10% además de la diferencia con el precio de reventa, en caso de que esta sea menor. Cualquier reembolso será realizado una vez terminado el viajey todos los costos de transferencia del dinero, incluyendo impuestos, correrán por cuenta del cliente.
    <br /> <br />
    Una vez que el viaje haya comenzado, no habrá devoluciones parciales ni totales por parte de Galadventure S.A por cualquier servicio no utilizado, incluyendo arreglos para antes y después del viaje, como hoteles, excursiones, alimentación, partes del tour y todos los servicios no utilizados por cualquier motivo como demoras, retrasos, cancelaciones de vuelos, fallas en el transporte, repaciones o daños de maquinas o instrumentos, Venta o Reserva erronea o equivocada(Categoría falsa o mayor, Viaje equivocado o Barco equivocado) o cualquier otro motivo por el cual no pueda llegar a cumplirse con el servicio ofrecido.
    <h3>
        Alteraciones
    </h3>
    Realizar modificaciones al viaje, por parte de los pasajeros, no es posible. Realizar modificaciones al segmento anterior y posterior al viajeen fecha cercana o posterior al inicio del tour no siempre es posible, en todo caso, aunque no garantizamos la modificación de la fecha de su viaje, estaremos siempre dispuestos a hacer lo mejor por nuestros pasajeros. En el caso de hacer alguna modificación al viaje, no habrá devoluciones de ninguna clase y nos reservamos el derecho de cobrar cualquier gasto adicional que estos cambios ocasionen.
    <br /> <br />
    Galadventure S.A se reservan el derecho de hacer cambios al viaje o cualquier parte de su viaje en cualquier momento por causas de fuerza mayor, como fallas mecánicas, problemas político-sociales, problemas ambientales, clima, cambios impuestos por parques, reservas, autoridades de puertos y tránsito o cualquier otro que esté fuera de nuestro control. Estos cambios se los haría tomando en cuenta principalmente su seguridad y bienestar o por la conservación cultural y del medio ambiente. En ningún caso se hará cambios en que el cliente se vea perjudicado por la calidad del servicio ofrecido. Galadventure S.A informará al cliente o la agencia de viajes con la mayor anticipación posible sobre cualquier cambio al que nos veamos forzados.
    <h3>Cancelaciones</h3>
    Ante la cancelación de un viaje por fallas mecánicas y/o trabajos de mantenimiento, o cualquier otro tipo de circunstancia no programados, Galadventure buscará, dentro de lo posible, un viaje similar de remplazo para su visita a las islas. Galadventure S.A se reserva el derecho a cancelar un viaje por razones de fuerza mayor, incluyendo problemas logísticos causados por disturbios civiles, actos de vandalismo, guerra, conato de guerra, insurrección, terrorismo, inspecciones, restricciones o regulaciones del gobierno, desastres naturales, clima adverso, daños o problemas técnicos de transporte y/o infraestructura, cambios de operación establecidos por terceros, como compañías de transporte aéreo o marítimo y cualquier otra situación de inseguridad y fuera de nuestro control. En estos casos Galadventure S.A puede o no devolver el dinero pagado, total o parcialmente, dependiendo de penalidades impuestas por terceros o proveedores de servicios, sin responsabilidad legal para indemnizaciones o compensaciones adicionales por cualquier motivo.
    Si alguno de estos motivos de cancelación ocurre una vez comenzado el tour, nos reservamos el derecho de hacer modificaciones al mismo en la medida y forma que sea necesario. Si cancelaciones del viaje o modificaciones del viaje ocasionan alguna demora, pérdida de conexiones de transporte, pérdida de boletos aéreos, y cualquier otro gasto en preparación al viaje, Galadventure S.A están libres de toda obligación de pagar compensaciones.
    <h3>
        Boletos aéreos
    </h3>
    Para asegurar los espacios aéreos en los vuelos hacia y desde Galápagos y otros destinos internos, Galadventure S.A, se encarga de hacer las reservaciones y adquirir sus boletos, por lo que se requiere el pago anticipado de los mismos con su reservación. Galadventure S.A actúa solamente como intermediario entre el pasajero y la aerolínea para el pago de los boletos aéreos, por lo tanto Galadventure S.A no es responsable por las fluctuaciones en precios, horarios de vuelos, ni por faltas u omisiones por parte de las aerolíneas, debiendo el participante atenerse a los términos y condiciones de la aerolínea y a sus condiciones de reclamos y devoluciones.
    <h3>Forma de Pago</h3>
    Mediante Transferencia directa a la cuenta bancaria de Quito o Galapagos. Los datos del depósito deberán ser enviados para poder verificar con el banco si su depósito ha sido acreditado. Se considerará como fecha de la reservación la misma en que sea acreditado el depósito en nuestra cuenta. Cualquier gasto de transferencia o depósito deberá ser cubierto por el depositante y se verá reflejado en el balance de pagos. Todos nuestros precios están dados en US dólares y los pagos deberán ser hechos en la misma moneda.
    <h3>
        Medicina y Salud
    </h3>
    Aunque un viaje de aventura, trasporte en Galápagos tiene un grado de dificultad fácil, los participantes deben estar en buena condición física y de salud para poder participar en un crucero por las Islas.
    El viaje involucra desembarcos mojados en playas o sobre rocas, caminatas sobre terreno irregular y senderos de tierra o rocosos, subir y bajar gradas, natación y snorkeling en aguas frías (16°C) y puede haber corrientes; Quito está a una altura de 2.800 m y algunas extensiones de viaje pueden superar los 4000 m de altura. Es muy importante que los pasajeros con problemas médicos o restricciones alimenticias nos hagan saber su condición y necesidades con suficiente anticipación al viaje. Si tiene algún problema de salud o discapacidad, si tiene más de 65 años de edad o no está seguro de su habilidad para realizar su viaje a las Islas Galápagos, deberá consultar con su médico sobre sus intenciones y posibilidad de realizar este viaje. Si su participación en el viaje ya ha sido confirmada y su médico no aprueba su participación en el mismo, serán aplicadas las penalidades de cancelación normales. Galadventure S.A se reserva el derecho de descalificar a cualquier miembro del grupo durante el viaje, si considera que no está en capacidad de continuar con el, o si su participación pone en peligro al grupo o a sí mismo. Si por falta de información correcta y completa no nos hemos preparado para tal situación o no hemos rechazado su participación con anterioridad, no habrá ninguna devolución ni compensación de gastos. Galadventure no asumen ninguna responsabilidad por la provisión de cuidados médicos en estos casos. Es responsabilidad de cada miembro del viaje escoger un tour de acuerdo a su capacidad y sus posibilidades físicas y de salud. Nosotros recomendamos que se ejercite para mejorar su condición física y así disfrutar mejor de nuestros cruceros y extensiones de viaje. Al contactarse con nosotros estaremos siempre dispuestos a responder sus preguntas con respecto a la participación en un crucero para cualquier caso particular.
    <h3>Fumar</h3>
    Los participantes en un viaje con Galadventure deberán abstenerse de fumar en medios de transporte, camarotes, áreas sociales del barco y en cualquier lugar que afecte la libertad del resto de participantes a respirar aire limpio. Fumar es permitido únicamente en lugares específicamente señalados para ello y en áreas exteriores del Hotel, Lancha, Barco o lugar de visita señaladas por el guía, siempre y cuando no afecte a los demás participantes. No es permitido fumar en los sitios de visita.
    <h3>
        Responsabilidades de los Viajeros
    </h3>
    Los participantes en un crucero con Galadventure tienen algunas responsabilidades. Los miembros del viaje son responsables de conocer y comprender las condiciones implicadas en el viaje y su itinerario, de seleccionar un viaje de acuerdo a sus intereses, habilidades y condición física, y de prepararse para el viaje estudiando la información suplementaria y el itinerario entregado por Galadventure S.A. La participación del pasajero en las actividades, programadas o no, en cualquiera de nuestros viajes y que involucran alguna clase de riesgo, están bajo su propia responsabilidad. Los menores de edad que participen en un viaje o cualquier actividad con Galadventure S.A, están bajo la entera responsabilidad de sus padres o guardián legal y deberán en todo momento estar acompañados por un adulto. Galadventure S.A no se hace responsable por los actos, actividades y sus consecuencias, de cualquier pasajero por consumo, posesión, compra u obtención de cualquier manera, de bebidas alcohólicas o drogas ilegales; esta es responsabilidad únicamente del pasajero. De acuerdo a las leyes ecuatorianas, el consumo y posesión de drogas no está permitido. En caso de problemas presentados por estos motivos, el pasajero implicado será separado del viaje y deberá compensar a Galadventure S.A por cualquier daño o perjuicio, si los hubiere.
    <br /> <br />
    Galadventure S.A se reserva el derecho de separar del viaje a cualquier pasajero que por sus actos o comportamiento pone en peligro a los demás miembros del viaje, a otras personas, a sí mismo o a la naturaleza y medio ambiente. Lo mismo si un pasajero invade los derechos, bienestar y entretenimiento de los demás miembros del viaje o si de alguna manera impide el normal desenvolvimiento de este. Si un miembro del viaje es separado prematuramente del mismo por alguno de los motivos descritos en este documento, este no tendrá derecho a compensación ni reembolso de dinero. Galadventure S.A no será responsable por los gastos de alojamiento, alimentación, transporte, deportación ni ningún otro en que tenga que incurrir el pasajero por alguno de los motivos descritos anteriormente.
    <h3>Seguro de Viaje</h3>
    Galadventure S.A  recomienda a todos sus pasajeros contratar en su país de residencia un seguro de viaje con cobertura de cancelación / interrupción del viaje, pérdidas de vuelos, pérdidas de equipaje, robo de sus pertenencias, accidentes, enfermedad, gastos médicos, evacuación médica de emergencia. El seguro de cancelación / interrupción de viaje deberá devolverle los pagos no reembolsables en caso de que tenga que cancelar el viaje por motivos fuera de su control, como enfermedad suya o de su compañero de viaje, o cualquier otra circunstancia que justifique dicha cancelación o interrupción del viaje. Asegúrese que le cubra gastos por pérdida del viaje debido a pérdidas, demoras o cancelaciones de vuelos internacionales.
    <h3>
        Limitaciones de Responsabilidad
    </h3>
    Galadventure S.A, como organizadores de viajes entre las islas, lanchas, hoteles, barcos, actúan solamente como agentes para los proveedores de servicios relacionados con transportación, acomodación y todos los demás servicios relacionados o adicionales al viaje con Galadventure S.A. Todos los boletos, órdenes o vouchers son emitidos de conformidad con los términos y condiciones bajo las cuales estos servicios son ofrecidos o suministrados. Galadventure S.A y sus afiliados no son responsables de ninguna lesión, daño, pérdida, accidente, retraso o irregularidad que puedan ser ocasionadas por motivo de algún defecto en cualquier vehículo o equipo suministrado por otra compañía o persona para el cumplimiento del o de los servicios contratados; tampoco por el incumplimiento de los arreglos acordados previamente, ni por la conducta negligente de cualquier otra compañía o persona en el suministro o falta de suministro de los servicios esperados, para los cuales los boletos o vouchers son emitidos, ni por retrasos o incumplimiento por razones de fuerza mayor, incluyendo detenciones, accidentes, cambios y discrepancias en el tránsito, disturbios civiles, actos de vandalismo, guerra, conato de guerra, insurrección, terrorismo, restricciones o regulaciones del gobierno, desastres naturales, clima adverso, daños o problemas técnicos de transporte y/o infraestructura, cambios de operación establecidos por terceros, como hoteles, compañías de transporte terrestre, aéreo o marítimo y cualquier otra situación de inseguridad y fuera de nuestro control.
    Cambios razonables en el itinerario y servicios pueden darse en estos casos por el bienestar y confort de los pasajeros. Las compañías aéreas no serán responsabilizadas por ningún acto, omisión o evento durante el tiempo que los pasajeros no están a bordo de su transporte. El contrato impreso de transporte de pasajeros que utilizan las aerolíneas involucradas constituye, por el solo hecho de su emisión, el único contrato entre Galadventure S.A y/o sus afiliados, la aerolínea y el comprador del mismo y/o pasajero. Las tarifas aéreas, impuestos de entrada a parques y reservas, recargos de combustible y otros impuestos por gobiernos centrales o locales descritos por este medio con el propósito de información, están sujetas a cambio sin previo aviso. Con la realización del depósito a nuestra cuenta bancaria, el depositante acepta y se atiene a los términos y condiciones descritos en este documento. </p>
</div>